<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project Finder</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.19.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='/socket.io/socket.io.js'></script>
  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
  <script type='text/javascript' src='./config.js'></script> <!-- This holds the AWS Credentials -->
  <!-- <script src="typeahead.min.js"></script> may or may not need-->
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <script type="text/javascript">
    $(document).ready(function() {
        // Constructing the suggestion engine
        var components = new Bloodhound({
            datumTokenizer : Bloodhound.tokenizers.whitespace,
            queryTokenizer : Bloodhound.tokenizers.whitespace,
            remote : {
                url : '../search?key=%QUERY',
                wildcard : '%QUERY'
            }
        });
        // Initializing the typeahead
        $('.typeahead').typeahead({
            hint : false,
            highlight : true, /* Enable substring highlighting */
            minLength : 1
        /* Specify minimum characters required for showing suggestions */
        }, {
            name : 'components',
            source : components
        });
    });  
  </script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript">

    var socket = io('http://localhost:3000');
    var filterParts = [];
    var makeProject = function(project) {
    	var chooseType = function(jawn) {
    		var id = jawn.split(' ').join('_').toLowerCase()
	     	if(filterParts.includes(jawn)) {
	     		return "<li class='list-group-item list-group-item-success 123"+id+"'>"+jawn+"</li>\n";
	     	} else {
	     		return "<li class='list-group-item list-group-item-danger 123"+id+"'>"+jawn+"</li>\n";
	     	}
    	}
	    var forWithCallback = function(parts, callback) {
	    	var finished = "";
		    for(var part in parts) {
		     	var jawn = parts[part];
		     	finished+=chooseType(jawn);
		    }
		    callback(finished);	
	    }
    	forWithCallback(project.parts, function(parts) {
			 var html = "<a href='" + project.link + "' id = \"" + project.name.split(' ').join('_') + "\">" + 
        "<div class='row'>" + 
			    "<div class='col-md-12'>" + 
			      "<div class='thumbnail' style='padding-top: 20px;'>" + 
			    	  "<div class='col-md-4'>" + 
					    	"<img src='"+project.image+"' alt='Lights' style='width:100%;'>" +  
				        "<div class='caption'>" + 
				          "<h2>"+project.name+"</h2>" + 
				        "</div>" + 	    		
			    	"</div>" + 
			    	"<div class='col-md-8'>" + 
				        "<div>" + 
				          "<ul class='list-group'>" + parts + 
				          "</ul>" + 
				        "</div>" + 	    		
			    	  "</div>" + 
			      "</div>" + 
			    "</div>" + 
			  "</div>" + 
      "</a>"

			$("#allProjects").append(html);
      $("#allProjects")
	    	return html; 
    	});
    }
    var makePart = function(part) {
      var html =  "<div class='panel panel-default' id="+part.split(' ').join('_')+">" + 
        "<div class='panel-body'>" + part + "<span class='pull-right clickable' data-effect='fadeOut'><i class='fa fa-times'></i></span>" +
      "</div>" + 
      "</div>";
      return html;
    }
    $(document).ready(function() {
      $(document).on('click', '.clickable', function() {
        var part = $(this).parent().closest('.panel').attr('id').toLowerCase();
        var index = filterParts.indexOf(part);
        if(index > -1) filterParts.splice(index, 1);
        document.getElementById("component-count").innerHTML = "Your Components (" + filterParts.length + ")";
        var effect = $(this).data('effect');
        $(this).closest('.panel')[effect]();
        var id = ".123" + part.split(' ').join('_').toLowerCase();
        console.log(id);
        $(id).removeClass("list-group-item-success");
        $(id).addClass("list-group-item-danger");        
        updateRecs();
        document.getElementById("newPart").innerHTML = "";
      });
      $("#add-proj").submit(function(e) {
        e.preventDefault();
        var name = $('#name').val();
        var link = $('#link').val();
        var stringParts = $('#parts').val();
        var parts = stringParts.split(",");
        socket.emit('new-proj', {name: name, link: link, parts: parts});
        $('#myModal').modal('toggle');
      });
      socket.on('projects', function(projects) {
        for(var proj in projects) {
          var project = projects[proj];
          var html = makeProject(project);
          // $("#allProjects").append(html);
          //$("#myDropdown").append('<a href=\" ' + project.link + ' ">' + project.name + '</a>');
        }         
      });
      $("#newPart").keypress(function(e) {
        if(e.which == 13) {
          var part = $("#newPart").val().trim();
          if (part.length != 0 && !filterParts.includes(part.split(' ').join('_').toLowerCase())) {
            var html = makePart(part);
            filterParts.push(part.split(' ').join('_').toLowerCase());
            document.getElementById("component-count").innerHTML = "Your Components (" + filterParts.length + ")";
            $("#tags").append(html);
            $("#newPart").val("");
            var id = ".123" + part.split(' ').join('_').toLowerCase();
            console.log(id);
            $(id).addClass("list-group-item-success");
            $(id).removeClass("list-group-item-danger");
            updateRecs();
          }
        }
      });
    });
  function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("allProjects");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
          var currID = a[i].id.split('_').join(' ').toUpperCase();
          if (currID.indexOf(filter) > -1) {
              a[i].style.display = "";
          } else {
              a[i].style.display = "none";
          }
      }
  }   
  function updateRecs() {
    socket.emit("update-recs", {filterParts: filterParts});
  }
  socket.on('recs', function (recommendations) {
    console.log(recommendations);
  }); 

  </script>
</head>
<body>



<nav class="navbar navbar-light">
    <div class="container">
        <ul class="nav">
            <li>
              <span class="nav_test navbar-text" id = "nav_test" style="padding: 0;">Project Finder</span>
            </li>
            <li>
                <p class="navbar-btn">
                    <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Upload_Rekognition" style="margin-right:8px">Help me identify this part</a>
                </p>
            </li>
            <li>
                <p class="navbar-btn">
                    <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Add_Project_Modal" style="position: absolute; right: 0px;">Add New Project</a>
                </p>
            </li>

        </ul>
    </div>
</nav>


<div class="container" style="padding:10px">
    <div class="left col-lg-3">

        <h1 class="md-toolbar-tools" id="component-count">Your Components (0)</h1>
        <div id="bloodhound">
            <input type="text" class="form-control typeahead" placeholder="Components" id="newPart">
        </div>
      
        <div id="tags">
            
        </div>
    </div>
    <div class="left col-lg-9">
    <div id="myDropdown" class="dropdown">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    </div>
    <div id="allProjects" class = "scroll_box">
<!-- 	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="http://nevonprojects.com/wp-content/uploads/2017/12/Staircase-Climbing-Trolley3.jpg">
	        <img src="http://nevonprojects.com/wp-content/uploads/2017/12/Staircase-Climbing-Trolley3.jpg" alt="Nature" style="width:100%">
	        <div class="caption">
	          <p>Lorem ipsum...</p>
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="http://nevonprojects.com/wp-content/uploads/2017/12/Staircase-Climbing-Trolley3.jpg">
	        <img src="http://nevonprojects.com/wp-content/uploads/2017/12/Staircase-Climbing-Trolley3.jpg" alt="Fjords" style="width:100%">
	        <div class="caption">
	          <p>Lorem ipsum...</p>
	        </div>
	      </a>
	    </div>
	  </div> -->
	</div>
    </div>  
  <!-- Trigger the modal with a button -->

  <!-- Add Project Modal -->
  <div class="modal fade" id="Add_Project_Modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Project</h4>
        </div>
        <div class="modal-body">
          <form id="add-proj">
              <div class="form-group">
                <label for="Name">Enter Name of Project</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="e.g. Aluminum Foil Robot">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Enter Link to Project</label>
                <input type="text" class="form-control" id="link" placeholder="e.g. http://diy.com/build-a-robot">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Enter Parts Needed For Project, Separated By Commas</label>
                <input type="text" class="form-control" id="parts" placeholder="e.g. Arduino,Servo motor,...">
              <label class="btn btn-default btn-file uploadPic" >Upload an Image<input id='uploadPic' type="file" style="display: none;"></label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>         
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Upload to Rekognition -->
  <div class="modal fade" id="Upload_Rekognition" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Identifying a part</h4>
        </div>
        <div class="modal-body">
           <form id="upload-img">
            <div>
              <label>Upload an image</label>
               <input type="file" id="file-chooser" />
               <br>
                  <img class = "upload_img" id="myLink" name="inputLink"><br>
                  <div id="results"></div>    
                  <button type="button" class="btn btn-primary" id="upload-button">Identify!</button>
                  

                  <input id="myPicURL" type="text" name="inputPicURL" style="display: none;">

                  <br>
                  <br>
                  <div id="options"></div>
                  <script type="text/javascript" src='./upload.js'>  </script>   
              </div>
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</div>

<!-- Add panels of stuff to the following -->
<div id = "recommendations">

</div>

</body>
</html>