<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project Finder</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.19.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='/socket.io/socket.io.js'></script>
  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
  <script type='text/javascript' src='./config.js'></script> <!-- This holds the AWS Credentials -->
  <!-- <script src="typeahead.min.js"></script> may or may not need-->
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <script type="text/javascript">
    $(document).ready(function() {
        // Constructing the suggestion engine
        var components = new Bloodhound({
            datumTokenizer : Bloodhound.tokenizers.whitespace,
            queryTokenizer : Bloodhound.tokenizers.whitespace,
            remote : {
                url : '../search?key=%QUERY',
                wildcard : '%QUERY'
            }
        });
        // Initializing the typeahead
        $('.typeahead').typeahead({
            hint : false,
            highlight : true, /* Enable substring highlighting */
            minLength : 1
        /* Specify minimum characters required for showing suggestions */
        }, {
            name : 'components',
            source : components
        });
    });  
  </script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript">
  	var socket = io('http://localhost:3000');
  	var filterParts = [];
  	var makePart = function(part) {
  		var html = 	"<div class='panel panel-default' id="+part.split(' ').join('_')+">" + 
		    "<div class='panel-body'>" + part + "<span class='pull-right clickable' data-effect='fadeOut'><i class='fa fa-times'></i></span>" +
			"</div>" + 
			"</div>";
  		return html;
  	}
  	$(document).ready(function() {
  		$(document).on('click', '.clickable', function() {
  			var part = $(this).parent().closest('.panel').attr('id');
  			var index = filterParts.indexOf(part);
  			if(index > -1) filterParts.splice(index, 1);
    		var effect = $(this).data('effect');
        	$(this).closest('.panel')[effect]();
  		});
  		$("#add-proj").submit(function(e) {
  			e.preventDefault();
  			var name = $('#name').val();
  			var link = $('#link').val();
  			var parts = $('#parts').val();
  			socket.emit('new-proj', {name: name, link: link, parts: parts});
  			$('#myModal').modal('toggle');
  		});
  		socket.on('projects', function(projects) {
  			for(var proj in projects) {
  				var project = projects[proj];
				$("#myDropdown").append('<a href=\" ' + project.link + ' ">' + project.name + '</a>');
  			}    			
  		});
  		$("#newPart").keypress(function(e) {
  			if(e.which == 13) {
  				var part = $("#newPart").val();
  				var html = makePart(part);
  				filterParts.push(part.split(' ').join('_'));
  				$("#tags").append(html);
  				$("#newPart").val("");
  			}
  		});
  	});
	function filterFunction() {
	    var input, filter, ul, li, a, i;
	    input = document.getElementById("myInput");
	    filter = input.value.toUpperCase();
	    div = document.getElementById("myDropdown");
	    a = div.getElementsByTagName("a");
	    for (i = 0; i < a.length; i++) {
	        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
	            a[i].style.display = "";
	        } else {
	            a[i].style.display = "none";
	        }
	    }
	}  	
  </script>
</head>
<body>

<nav class="navbar navbar-light">
  <span class="nav_test navbar-nav navbar-text" id = "nav_test">Project Finder</span>
</nav>

<div class="container" style="padding:10px">
	<div class="left col-lg-3">

        <h1 class="md-toolbar-tools">Your Components</h1>
        <div id="bloodhound">
		  <input type="text" class="form-control typeahead" placeholder="Components" id="newPart">
        </div>

  		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
  		<div id="tags">
  			
  		</div>
	</div>
	<div class="left col-lg-9">
	</div>	
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
	      <form id="add-proj">
			  <div class="form-group">
			    <label for="Name">Enter Name of Project</label>
			    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="e.g. Aluminum Foil Robot">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Enter Link to Project</label>
			    <input type="text" class="form-control" id="link" placeholder="e.g. http://diy.com/build-a-robot">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Enter Parts Needed For Project, Separated By Commas</label>
			    <input type="text" class="form-control" id="parts" placeholder="e.g. Arduino,Servo motor,...">
			  <label class="btn btn-default btn-file" >Upload an Image<input type="file" style="display: none;"></label>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>	      	
	      </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div>
<h3>Uploading to Rekognition</h3>
 <input type="file" id="file-chooser" />
    <button id="upload-button">Indentify!</button>
    
    <img id="myLink" name="inputLink"><br>

    <input id="myPicURL" type="text" name="inputPicURL" style="display: none;">

    <div id="results">No error</div>    
    <script type="text/javascript">  
	    AWS.config.update({
	        "accessKeyId": config.MY_KEY,
	        "secretAccessKey": config.SECRET_KEY,
	        "region": "us-east-1"
	    });
	    var s3 = new AWS.S3();      
        var fileChooser = document.getElementById('file-chooser');
        var button = document.getElementById('upload-button');
        var results = document.getElementById('results');

		$(document).on('change', 'input[type="file"]', function(e) {
			var name = $('#name').val();
			var file = e.target.files[0];
			var fileName = e.target.files[0].name;
			var reader = new FileReader();
			reader.onloadend = function() {
			}
		    var file = fileData.file;
		    var name = fileData.name;

		    var data = {Bucket: 'pennbook-my-images',
						Key: name,        
		    			ContentType: file.type,
                    	Body: file,
                    	ACL: 'public-read'};
		    s3.putObject(data, function(err, data) {
		      console.log('putting object in ' + name);
		      if(err) {
		        console.log(err);
		      } else {
		        var urlParams = {Bucket: 'pennbook-my-images', Key: name};
		        s3Bucket.getSignedUrl('getObject', urlParams, function(err, url){
		            socket.emit('url', url);
		        });           
		        console.log(data);
		      }
		    });		
		});	        

        button.addEventListener('click', function () {
            var file = fileChooser.files[0];
            if (file != null) {         
                document.getElementById("myLink").src= "https://s3.amazonaws.com/pennbook-my-images/"+file.name.split(' ').join('+');
                document.getElementById("myPicURL").value= "https://s3.amazonaws.com/pennbook-my-images/"+file.name.split(' ').join('+');
            }

            if (file) {            
                var params = {
                    Bucket: 'pennbook-my-images',
                    Key: file.name, //file.name,
                    ContentType: file.type,
                    Body: file,
                    ACL: 'public-read'
                };        
                s3.putObject(params, function (err, res) {
                    if (err) {
                        results.innerHTML = ("Error uploading data: ", err);
                    } else {
                        results.innerHTML = ("Successfully uploaded data");
                        var rekognition = new AWS.Rekognition();

                        var searchParams = {
                            Image: {'S3Object':{'Bucket':'pennbook-my-images','Name':file.name}}
                        }

                        rekognition.detectLabels(searchParams, function (err, data) {
                            if (err) {
                                console.log(err, err.stack); // an error occurred
                            } else { 
                                console.log(data.Labels);
                            }
                        });
                    }
                });



            } else {
                results.innerHTML = 'Nothing to upload.';
            }
        }, false);
    </script>	
</div>
<div id="myDropdown" class="dropdown">
<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
</div>
</body>
</html>

