<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.19.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='/socket.io/socket.io.js'></script>
  <script type="text/javascript">
  	var socket = io('http://localhost:3000');
  	$(document).ready(function() {
  		$("#add-proj").submit(function(e) {
  			e.preventDefault();
  			var name = $('#name').val();
  			var link = $('#link').val();
  			var parts = $('#parts').val();
  			socket.emit('new-proj', {name: name, link: link, parts: parts});
  			$('#myModal').modal('toggle');
  		});
  	});
  </script>
</head>
<body>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
	      <form id="add-proj">
			  <div class="form-group">
			    <label for="Name">Enter Name of Project</label>
			    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="e.g. Aluminum Foil Robot">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Enter Link to Project</label>
			    <input type="text" class="form-control" id="link" placeholder="e.g. http://diy.com/build-a-robot">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Enter Parts Needed For Project, Separated By Commas</label>
			    <input type="text" class="form-control" id="parts" placeholder="e.g. Arduino, Servo motor, ...">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>	      	
	      </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div>
<h2> Uploading to Rekognition... input will be output in client console log </h2>
 <input type="file" id="file-chooser" />
    <button id="upload-button">Upload to S3</button>
    
    <img id="myLink" name="inputLink"><br>

    <input id="myPicURL" type="text" name="inputPicURL" style="display: none;">

    <div id="results"></div>
    <script type="text/javascript">    
        var fileChooser = document.getElementById('file-chooser');
        var button = document.getElementById('upload-button');
        var results = document.getElementById('results');

        button.addEventListener('click', function () {
            var file = fileChooser.files[0];         
            document.getElementById("myLink").src= "https://s3.amazonaws.com/pennbook-my-images/"+file.name.split(' ').join('+');
            document.getElementById("myPicURL").value= "https://s3.amazonaws.com/pennbook-my-images/"+file.name.split(' ').join('+');

            if (file) {            
                AWS.config.update({
                    "accessKeyId": "AKIAI2LJH2SVWPTNQHJQ",
                    "secretAccessKey": "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",
                    "region": "us-east-1"
                });
                var s3 = new AWS.S3();
                var params = {
                    Bucket: 'pennbook-my-images',
                    Key: file.name, //file.name,
                    ContentType: file.type,
                    Body: file,
                    ACL: 'public-read'
                };        
                s3.putObject(params, function (err, res) {
                    if (err) {
                        results.innerHTML = ("Error uploading data: ", err);
                    } else {
                        results.innerHTML = ("Successfully uploaded data");
                        var rekognition = new AWS.Rekognition();

                        var searchParams = {
                            Image: {'S3Object':{'Bucket':'pennbook-my-images','Name':file.name}}
                        }

                        rekognition.detectLabels(searchParams, function (err, data) {
                            if (err) {
                                console.log(err, err.stack); // an error occurred
                            } else { 
                                console.log(data.Labels);
                            }
                        });
                    }
                });



            } else {
                results.innerHTML = 'Nothing to upload.';
            }
        }, false);
    </script>
</div>
</body>
</html>

